
<p align="right"><i>Education for Everyone Everywhere</i></p>
<ul><li><a routerLink='./' class='button'>Home</a></li> 
<li><a routerLink='./news' class='button'>HorizoNews</a></li>
<li><a routerLink='./programs' class='button'>Programs</a></li> 
<li><a routerLink='./method' class='button'>Methodology</a></li>
<li><a routerLink='./faculty' class='button'>Faculty</a></li>
<li><a routerLink='./admission' class='button'>Admission</a></li>
<li><a routerLink='./sources' class='button'>e-sources</a></li>
<li><a routerLink='./contact' class='button'>Contact Us</a></li>
</ul>

<router-outlet></router-outlet>

